<h1>Hi there! Welcome to the webspace of Gaurav Saraf</h1>
<p>While am redesigning this page, you can tune in to my code-karma on <a href="https://github.com/gauravsaraf?tab=activity">Github</a> or know more about me on <a href="http://linkedin.com/in/sarafgaurav">LinkedIn</a></p>